
html,body{
    margin: 0; padding: 0; width: 100%; height: 100%;
    overflow-x: hidden;
    background-color:rgb(232, 232, 231);
    
}
#head{
    display: flex;
    justify-content: center;
    width: 100%;
}
header{
    display: flex;
    width: 90%;
    border-color: black;
    border-style: solid;
    height: 50px;
    border-width: 0px 0px 2px;
    justify-content:space-between ;

}

#menu{
    height: 100%;
    width: 45px;
    padding-left: 5px;
    padding-right: 5px;
    
}
#menu:hover{
    background-color: rgb(211, 211, 211);
}
#setupmenu{
    position: absolute;
    overflow-x: hidden;
    right: 0;
    top: 0;
    
    min-width: 300px;
    width: 40%;
    height: 100%;
    background-color: rgb(25, 25, 25);
    z-index: -1;

    
  
    
}

#cross{
    float: right;
    margin: 5px;
}
#cross:hover{
    background-color: rgb(43, 43, 43);
    border-radius: 50%;
}



#logo{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    height: 100%;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

.vyber{
    display: flex;
    margin-left: 20px;
    
    padding: 5px;
    padding-left: 20px;
    margin-top: 5px;
    width: 100%;
    font-size: 130%;
    border-width: 0 0 0.05em;
    border-style: solid ;
    border-color: rgb(232, 232, 231);
    color: rgb(232, 232, 231);
    text-decoration:none
}
.sign_in{
    border-width: 1px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    border-radius:  50px;
    border-color: dimgrey;
   
    padding-left: 5px;
    max-width: 250px;
    margin-left: 0;
    
}
.login{
    background-color: rgb(232, 232, 231);
    color: black;
    margin-left: 20px;
}

#login{
    display: flex;
    
    width: 100%;
}

#content{
    
    
    display:flex; 
    width: 90%;
    
    align-items: center;
    
    margin-left: 5%;
    

}

.text{
    
    user-select: none;
    display: flex;
    align-items: center;
    margin: 0 0 40px;
    font-weight: 400;
    height: 150px;
    max-width: 200px;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: slideRight 1s ease-in-out;
}



.secondary{
    width: 90%;
    font-size: 80%; 
    animation: slideUp 1.45s ease-in-out;
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#jordans{
    
    position: relative;
    margin-top: 50px;
    margin-left: -100px;
    width: 300px;
    animation: slideLeft 1.3s ease-in-out;
    
}

.produkty{
    width: 100%;
    animation: slideUp 1.45s ease-in-out;
    
}
.slider-wrapper{
    overflow: hidden;
    margin: 0 ;
}

.card-list .produkt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.white{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin:5px 0 5px;
    background-color:rgb(255, 244, 244);
}

.sneaker{
    width: 100%;
    
    
}

.swiper-slide-button {
    color: black ;
    margin-top: -32px;
    
}

.shoe-name{
    height: 40px;
}


@media (min-width: 440px) {
    #content{
        justify-content: space-between;
    }
    #jordans {
        width: 400px;
        margin-top: -10px;
    }
}
@media (min-width: 500px) {
    .white{
        height: 400px;
    }
}

@media (min-width: 600px) {
    .secondary{
        font-size: 100%; 
    }
    .text {
        font-size: 50px; 
    }
    #jordans {
        
        margin: 0;
    }
   
}
@media (min-width: 620px) {
    .slider-wrapper{
        
        margin: 0 50px 55px;
    }
    .secondary{
        
        margin-left: 50px;
        
    }
    
    .produkty{
        height: 450px;
        
    }
    
   
}
@media (min-width:800px) {
    
    .text {
        font-size: 70px; 
    }
    #jordans {
        width: 600px;
        margin-top: 20px;
    }
    #content{
        justify-content: center;
        margin-left: 8%;
    }
    .vyber {
        font-size: 160%;
    }
    .secondary{
        font-size: 120%;
    }
    
   
   
}
@media (min-width: 1060px) {
    .text {
        margin-top: -35px;
        font-size: 90px; 
    }
    #jordans {
        width: 800px;
    }
    .secondary{
        font-size: 130%; 
    }
   .white{
        height: 550px;
    }
    .produkty{
        height: 600px;
        
    }
}

@media (min-width: 1300px) {
    #logo {
        font-size: 50px;
    }
    #menu{
        width: 70px;
    }
    header{
        height: 70px;
    }
    .vyber{
        font-size: 200%;
    }
    
    .secondary{
        font-size: 150%;
    }
    
}


@media (min-width: 1900px) {
  
    .vyber {
        font-size: 250%;
    }
    .secondary{
        font-size: 180%;
    }
}




@keyframes slideRight{
    from {
        transform:translateX(-300px);
    }

    to{
        transform:translateX(0);
    }
}
@keyframes slideRightFrom0{
    from {
        transform:translateX(0);
    }

    to{
        transform:translateX(100%);
    }
}
@keyframes slideLeft{
    from {
        transform:translateX(800px);
    }

    to{
        transform:translateX(0);
    }
}
@keyframes slideUp{
    from {
        transform:translateY(800px);
    }

    to{
        transform:translateY(0);
    }
}

