
html,body{
    margin: 0; padding: 0; width: 100%; height: 100%;
    overflow: hidden;
    background-color:rgb(232, 232, 231);
    
}
#head{
    display: flex;
    justify-content: center;
    width: 100%;
}
header{
    display: flex;
    width: 90%;
    border-color: black;
    border-style: solid;
    height: 50px;
    border-width: 0px 0px 2px;
    justify-content:space-between ;

}

#menu{
    height: 100%;
    width: 45px;
    padding-left: 5px;
    padding-right: 5px;
    
}
#menu:hover{
    background-color: rgb(211, 211, 211);
}
#setupmenu{
    position: relative;
    overflow: hidden;
    float: right;
    top: -52px;
    min-width: 300px;
    width: 40%;
    height: 100%;
    background-color: rgb(25, 25, 25);
    z-index: -1;

    
}

#cross{
    float: right;
    margin: 5px;
}
#cross:hover{
    background-color: rgb(43, 43, 43);
    border-radius: 50%;
}

.sign_in{
    
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    border-radius:  50px;
    border-color: dimgrey;
    border-width: 1px;
    padding-left: 5px;
    max-width: 250px;
    margin-left: 0;
    
}
.login{
    background-color: rgb(232, 232, 231);
    color: black;
    margin-left: 20px;
}
#login{
    display: flex;
    
    width: 100%;
}
#logo{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

a{
    display: flex;
    margin-left: 20px;
    
    padding: 5px;
    padding-left: 20px;
    margin-top: 5px;
    width: 100%;
    font-size: 130%;
    border-width: 0 0 0.05em;
    border-style: solid ;
    border-color: rgb(232, 232, 231);
    color: rgb(232, 232, 231);
    text-decoration:none
}
@media (min-width: 1500px) {
    a {
        font-size: 160%; /* Zvětšení písma pro větší obrazovky */
    }
}

#content{
    display:flex; 
    width: 90%;
    align-items: center;
   
    margin-left: 10px;
    

}
.abo{
    width: 100px;
    height: 100px;
    color: aqua;
}
.text{
    margin-top: -240px;
    max-width: 200px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: slideRight 1s ease-in-out;
}

@media (min-width: 1500px) {
    .text {
        font-size: 50px; /* Zvětšení písma pro větší obrazovky */
    }
}

.secondary{
    width: 40%;
    margin-top: 10px;
    font-size: 80%; 
    animation: slideRight 1.3s ease-in-out 0s 1;
    
}
#jordans{
    position: relative;
    
    margin-top: -250px;
    max-width: 300px;
    animation: slideLeft 1.3s ease-in-out;
    
}

@media (max-width: 600px) {
    #jordans {
        width: 400px;
        
        
        
    }
}

@media (min-width: 1500px) {
    .secondary {
        font-size: 24px; /* Zvětšení písma pro větší obrazovky */
    }
}


@keyframes slideRight{
    from {
        transform:translateX(-300px);
    }

    to{
        transform:translateX(0);
    }
}
@keyframes slideRightFrom0{
    from {
        transform:translateX(0);
    }

    to{
        transform:translateX(100%);
    }
}
@keyframes slideLeft{
    from {
        transform:translateX(800px);
    }

    to{
        transform:translateX(0);
    }
}

